:root {
    --color: 0,128,0;
    --verylight: rgb(var(--color),0.03);
    --firstlight: rgb(var(--color),0.1);
    --secondlight: rgb(var(--color),0.2);
    --mediumlight:rgb(var(--color),0.5);
    --thirddark:rgb(var(--color),0.8);
    --seconddark:rgb(var(--color),0.9);
    --darkest:rgb(var(--color),1);
    --shadow-medium: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --bg-light: #f9fafb;
    --bg-white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display: swap;
    font-size: clamp(1rem,1vw,2rem);
}
button,a {
    all: unset;
    cursor: pointer;
    font-family: "Noto Sans",Tahoma, sans-serif;
}

body {
    font-family: "Noto Sans",Tahoma, sans-serif;
    overflow-x: hidden;
}

        header {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1001;
        }
        nav {
            display: flex;
            justify-content: space-between;
            color: #fff;
        }
        .navbar-logo {
            width: 10vw;
            height: auto;
            margin-left: 4vw;
        }
        .menubar {
            font-size: clamp(1.3vw,1.35vw,6rem);
            cursor: pointer;
            display: flex;
            gap: 1vw;
            justify-content: space-between;
            align-items: center;
        }
        .nav-mobileWhatsapp {
            display: flex;
            gap: 1vw;
            background-color: rgb(255,255,255,0.8);
            padding: 0 4vw 0 5vw;
            align-items: center;
            color: #000;
            clip-path: polygon(0 0%, 100% 0%, 100% 100%, 20% 100%, 0% 0%);
            font-size: clamp(1vw,1.2vw,6rem);
        }
        .nav-phone, .nav-whatsapp {
            display: block;
            padding: 10px;
            border: 1px solid var(--darkest);
            border-radius: 4px;
        }
        .bannerTrack::before {
            inset: 0;
            content: "";
            position: absolute;
            clip-path: polygon(50vw 0vh, 0vw 0vh, 0vw 100%);
            background-color: green;
            opacity: 0.9;
            z-index: 100;
            animation: float1 10s cubic-bezier(0.5, 1, 0.1, 1) infinite;
        }
        @keyframes float1 {
            0%{clip-path: polygon(50vw 0vh, 0vw 0vh, 0vw 100%);}
            50% {clip-path: polygon(60vw 0vh, 0vw 0vh, 0vw 80%);}
            100%{clip-path: polygon(50vw 0vh, 0vw 0vh, 0vw 100%);}
        }
        .bannerTrack::after {
            inset: 0;
            content: "";
            position: absolute;
            clip-path: polygon(0vw 50vh, 0vw 100vh, 50vw 100%);
            background-color: green;
            opacity: 0.9;
            animation: float2 9s cubic-bezier(0.5,1,0.1,1) infinite;
        }
        @keyframes float2 {
            0%{clip-path: polygon(0vw 50vh, 0vw 100vh, 50vw 100%);}
            50%{clip-path: polygon(0vw 40vh, 0vw 100vh, 60vw 100%);}
            100%{clip-path: polygon(0vw 50vh, 0vw 100vh, 50vw 100%);}
        }

        .bannerImage {
            width: 100vw;
            height: 100vh;
            display: block;
        }

        .banner {
            display: flex;
            transition: transform 0.3s ease-in-out;
            flex-wrap: nowrap;
            box-sizing: border-box;
        }
        .bannerImage {
            width: 100%;
        }
        .bannerTrack {
            width: 100%;
            overflow: hidden;
        }

        .bannerCard {
            width: 100%;
            flex: 0 0 100%;
            position: relative;
        }
        .banner-contentContainer {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            left: 5vw;
            z-index: 100;
            text-shadow: 0 2px 2px rgba(0,0,0,0.6);
        }
        .banner-projectHeading {
            font-size: clamp(2.5rem,4vw,7rem);
            font-weight: 600;
            
        }
        .banner-projectDeveloper {
            font-size: clamp(1.2rem,2vw,4rem);
            margin: 0 0 1vw 1vw;
            font-weight: 600;
        }
        .banner-projectLocation {
            font-size: clamp(1.2rem,1.5vw,4rem);
            margin: 0 0 1vw 1vw;
            font-weight: 600;
            width: fit-content;
            background-color: rgb(255,255,255,0.3);
            padding: 1vh 1vw;
            border-radius: 50px;
        }
        .banner-subHeading {
            font-size: clamp(1rem,2vw,4rem);
            margin: 5vh 0 0;
        }
        .banner-price {
            display: block;
            font-weight: 500;
        }
        .banner-price strong {
            font-weight: 600;
            font-size: clamp(1.5rem,2.5vw,5rem);
        }
        .bannerEnquireBtn {
            margin: 5vh 0 0;
            padding: 12px 24px;
            border: 0;
            border-radius: 50px;
            background-color: #fff;
            color: green;
            font-weight: 600;
            text-shadow: none;
            display: block;
        }
        .OfferBannerContainer {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 100px;
            background-color: #fff;
            z-index: 100;
            box-shadow: var(--shadow-medium);
        }
        .fa-gift {
            background-color: var(--firstlight);
            color: var(--seconddark);
            padding: 5px;
            border-radius: 50%;
        }
        .OfferBanner {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2vh 1vw;
            gap: 1vw;
        }
        .banner-projectHeadingOffer {
            display: none;
        }
        .scrollednav {
            background-color: var(--darkest);
        }
        @media (max-width: 768px) {
            .navbar-logo {
                width: 20vw;
            }
            .bannerImage {
                height: 30vh;
            }

            .bannerTrack::after,.bannerTrack::before{
                display: none;
            }
            header {
                background-color: green;
            }
            .menubar {
                display: none;
            }
            .nav-phone,.nav-whatsapp {
                display: none;
            }
            .banner-contentContainer {
                position: relative;
                transform: translate(0);
                color: #000;
                text-shadow: none;
                left: 0;
                padding: 1vh 2vw;
                text-align: center;
                top: 0;
                margin: 0;
                transform: translateY(-20px);
                border-radius: 30px 30px 0 0;
                background: #fff;
            }
            .bannerEnquireBtn {
                background-color: green;
                color: #fff;
                padding: 1vh 2vw;
                margin: 2vh 0 0;
                display: none;
            }
            .banner-projectLocation {
                background-color: transparent;
                margin: 0 auto;
                font-weight: 400;
                padding: 1vh 4vw;
            }
            .banner-projectHeadingOffer {
                background-color: green;
                margin: 0vh 0 1vh 0;
                color: #fff;
                padding: 1vh 0;
                display: block;
                border-radius: 50px;
            }
            .banner-subHeading {
                margin: 2vh 0 0;
                padding: 0 2vw;
                font-weight: 500;
            }
            .banner-projectDeveloper {
                margin: 0;
                font-weight: 400;
            }
            .OfferBannerContainer {
                margin: -2vh auto 0;
                width: 90%;
                position: relative;
                bottom: 0;
                left: 0;
                gap: 10px;
                background-color: #fafafa;
                flex-direction: column;
                border-radius: 8px;
                padding: 2vh 3vw;
                box-shadow: none;
                z-index: 0;
            }
            .OfferBanner {
                padding: 1.5vh 2vw;
                width: 100%;
                justify-content: flex-start;
                gap: 2vw;
                box-shadow: var(--shadow-medium);
                background: #fff;
                border-radius: 4px;
                border-left: 2px solid var(--darkest);
            }
            .projectlocationBinder {
                /* background-color: var(--firstlight); */
                width: fit-content;
                border-radius: 50px;
                margin: 0vh auto;
                /* padding: 1vh 0 0; */
            }
            .banner-price {
                text-decoration-line: underline;
                text-decoration-color: var(--darkest);
                text-decoration-thickness: .5vh;
            }
        }

        .burger-menu {
             /* MODIFIED: Moved to the left */
            width: 7vw;
            height: 3vh;
            background: transparent;
            border: none;
            cursor: pointer;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
        }


        .burger-menu span {
            background: #000; /* default black */
            width: 100%;
            height: 2px;
            display: block;
            position: absolute;
            left: 0;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        
        .burger-menu span:nth-child(1) {
            top: 0;
        }

        .burger-menu span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        }

        .burger-menu span:nth-child(3) {
        bottom: 0;
        }

.navModal {
    display: none;
}
.bannerMobileEnquire {
    display: none;
}
        @media (max-width:768px) {
            .burger-menu {
                display: flex;
            }
            .burger-menu.mobMenuOpen span:nth-child(1) {
  transform-origin: center;
  transform: rotate(-45deg) translateY(-50%) translateX(0.5px);
  top: 50%;
}

.mobMenuOpen.burger-menu span:nth-child(2) {
  opacity: 0;
}

.mobMenuOpen.burger-menu span:nth-child(3) {
  transform-origin: center;
  transform: rotate(45deg) translateY(-50%) translateX(-0.5px);
  bottom: auto;
  top: 50%;
}
.navModal {
    background-color: #fafafa;
    width: 100%;
    height: fit-content;
    position: fixed;
    display: block;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.25, 0, 0.30, 0.1);
    z-index: 1000;
    box-shadow:  0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.navModal span {
    height: fit-content;
}
.nav-button {
    display: block;
    padding: 1vh 0;
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin: 0 auto;
}
.navModal-active {
    transform: translateX(0);
}
.bannerMobileEnquire {
    display: block;
}

        }



        .bannerFormSection {
            margin-top: 2vh;
            padding: 3vh 5vw;
            background: #fafafa;
            box-shadow: var(--shadow-medium);
            display: none;
        }
        .bannerformHeading {
            font-size: clamp(1.2rem,5.5vw,2rem);
            font-weight: 500;
        }
        .bannerFormSubheading {
            font-size: 1.2rem;
            margin-bottom: 2vh;
        }
        .banner-submitBtn {
            background-color: var(--darkest);
            color: #fff;
            border: 0;
            padding: 12px 34px;
            margin: 1rem 0 0.5rem;
            border-radius: 50px;
            font-weight: 600;
            cursor: pointer;
        }
        .banner-submitBtn:hover {
            box-shadow: var(--shadow-medium);
        }
        @media (max-width:768px) {
            .bannerFormSection {
                display: block;
            }
        }